




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ============== reset css ============= */






*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
     
}


.container {
    width: auto;
    margin: auto;
}

/*============================ HEADER =====================================*/
header{
    background: #2E948A;
    height: 117px;
    width: 1440px;
    left: 0px;
    top: 0px;
        
}

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    
    }
    
    .cursos{
        position: absolute;
width: 80px;
height: 23px;
left: 1028px;
top: 47px;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
/* identical to box height */

text-transform: uppercase;

color: #FDFDFD;
    }

    .blog{
        position: absolute;
        width: 55px;
        height: 23px;
        left: 1150px;
        top: 47px;
        
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        /* identical to box height */
        
        text-transform: uppercase;
        
        color: #FDFDFD;  

    }
    .contato{
        position: absolute;
width: 95px;
height: 23px;
left: 1242px;
top: 47px;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
/* identical to box height */

text-transform: uppercase;

color: #FDFDFD;
    }

    .container .logo img { 
        position: absolute;
        width: 200px;
        height: 70px;
        left: 130px;
        top: 30;
        
        font-style: normal;
        font-weight: 500;
        font-size: 56px;
        line-height: 64px;
        
        color: #FFFFFF;
    }

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul a {
  text-decoration: none;
  color: #FFFFFF;
}

header nav ul li {
  margin-left: 15px;
  font-size: 10px;
}


/*============================ MAIN =====================================*/
.main{
    background: #E5E5E5;
} 

/*=================================== SECTION POST =========================================*/

section#post {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.desc {
    position: absolute;
width: 1032px;
height: 1061px;
left: 204px;
top: 910px;

font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
font-feature-settings: 'kern' off;

color: #000000;
}




.foto{
    
    position: absolute;
    width: 1032px;
    height: 465px;
    left: 204px;
    top: 381px;

background: #C4C4C4;

}

 .desc h6 {
    position: absolute;
width: 200px;
height: 21px;
left: 620px;
top: 286px;

font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;

color: #9D9D9D;

}

.desc h2 {
    color: #419488

}

.texto{
    position: absolute;
    width: 1032px;
    height: 1061px;
    left: 204px;
    top: 910px;
    
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'kern' off;
    
    color: #000000;
}

.h1{
    position: absolute;
width: 758px;
height: 46px;
left: 310px;
top: 228px;

font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 57px;
display: flex;
align-items: center;

color: #FF4081;

}
.h6{
    position: absolute;
    width: 200px;
    height: 21px;
    left: 620px;
    top: 286px;
    
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    
    
    display: flex;
    align-items: center;
    
    color: #9D9D9D;

}

.article{
    position: absolute;
    width: 1440px;
    height: 899px;
    left: 0px;
    top: 2082px;
    
    background: #F7F7F7;

}
.h2{
    position: absolute;
    width: 528px;
    height: 57px;
    left: 456px;
    top: 2161px;
    
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    display: flex;
    align-items: center;
    
    color: #FF4081;
     

}

.flex{
    display: flex;

}
.h3-1{
    position: absolute;
    width: 344px;
    height: 35.71px;
    left: 128px;
    top: 2650.16px;
    
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    
    color: #FF4081;
}
.h3-2{
    position: absolute;
    width: 267px;
    height: 35.71px;
    left: 606px;
    top: 2647.7px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;

}
.h3-3{
position: absolute;
width: 304px;
height: 35.71px;
left: 1007px;
top: 2647.7px;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 29px;
text-align: center;

color: #FF4081;
}



.pflex1{
position: absolute;
width: 293px;
height: 73.89px;
left: 154px;
top: 2714.2px;

font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 20px;
text-align: center;

color: #000000;

}
.pflex2{
position: absolute;
width: 293px;
height: 73.89px;
left: 593px;
top: 2711.73px;

font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 20px;
text-align: center;

color: #000000;

}
.pflex3{
position: absolute;
width: 293px;
height: 73.89px;
left: 1013px;
top: 2711.73px;

font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 20px;
text-align: center;

color: #000000;
}

.h5-1{
position: absolute;
width: 216px;
height: 24.96px;
left: 193px;
top: 2838.58px;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}
.h5-2{
position: absolute;
width: 216px;
height: 24.96px;
left: 632px;
top: 2836.12px;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;

}
.h5-3{
    position: absolute;
width: 216px;
height: 24.96px;
left: 1052px;
top: 2836.12px;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;

}
.botao-rosa1{
position: absolute;
width: 233px;
height: 62.81px;
left: 184px;
top: 2820.11px;

background: #FF4081;
border-radius: 62px;
}
.botao-rosa2{
position: absolute;
width: 233px;
height: 62.81px;
left: 623px;
top: 2817.64px;

background: #FF4081;
border-radius: 62px;
}
.botao-rosa3{
position: absolute;
width: 233px;
height: 62.81px;
left: 1043px;
top: 2817.64px;

background: #FF4081;
border-radius: 62px;
}
.img2{
position: absolute;
left: 10.83%;
right: 69.17%;
top: 72.74%;
bottom: 18.51%;

}

.img1{
    position: absolute;
    left: 43.26%;
    right: 40.21%;
    top: 72.74%;
    bottom: 18.51%;

}

.img3{
position: absolute;
left: 74.03%;
right: 12.99%;
top: 72.75%;
bottom: 18.5%;
}

.logo-footer{
position: absolute;
left: 16.81%;
right: 69.44%;
top: 28.5%;
bottom: 43.48%;

font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 66px;
line-height: 76px;

color: #FFFFFF;

}
.menu-footer{
    position: absolute;
    left: 43.26%;
    right: 51.81%;
    top: 25.6%;
    bottom: 34.3%;
    
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    
    color: #FFFFFF;
}
    
.quero{
    position: absolute;
left: 73.26%;
right: 12.36%;
top: 30.92%;
bottom: 57.97%;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
.aqui{
    position: absolute;
left: 73.26%;
right: 12.36%;
top: 61.84%;
bottom: 26.57%;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}
.body{
    background: #E5E5E5 ;   
}

