* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    max-width: 90%;
    margin: auto;
}

/*============================ HEADER =====================================*/
header {
    background: #2E948A;
    height: 90px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px
}

.container .logo img {
    height: 60px;
}

#btn-mobile {
    display: none;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul a {
    text-decoration: none;
    color: #FFFFFF;
}

header nav ul li {
    margin-left: 15px;
    font-size: 15px;
}



/*============================ MAIN =====================================*/

/*===================================SECTION INDEX=========================================*/

section#index {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.desc {
    margin-right: 50px;
}

.desc h1 {
    color: #FF4081
}

.desc p {
    margin-bottom: 25px;
    font-size: 0.875rem;
}

#index img {
    height: 300px;
}

section h1 {
    color: #009688;
    font-size: 35px;
    font-weight: bold;
}

section p {
    color: #555555;
    font-size: 15px;
    margin-top: 15px;
}

section a {
    color: #FF4081;
    font-size: 13px;
    border: 2px solid #FF4081;
    border-radius: 62px;
    text-decoration: none;
    padding: 10px;
}

/*===================================SECTION CARDS=========================================*/

#cards {
    background-color: #F6F6F6;
    margin-top: 70px;
}

#cards .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 50px;
}

#cards .container h2 {
    text-align: center;
    color: #FF4081;
    font-size: 19px;
    margin-top: 30px;
    font-weight: bold;
}

#cards .container p {
    text-align: center;
    margin-top: 30px;
}

#cards .container a {
    color: #FFFFFF;
    background-color: #FF4081;
    font-size: 14px;
    padding: 10px 30px;
    text-align: center;
}

#cards div {
    width: 250px;
}

#cards img {
    height: 270px;
}

/*===================================SECTION DEPOIMENTOS=========================================*/
section#depoimentos h1,
p {
    margin-top: 70px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500px;
}

.container h1 {
    margin-bottom: 30px;
    font-weight: bold;
}

section#depoimentos .depoimentos {
    display: flex;
    justify-content: space-between;
}

section#depoimentos .depoimentos div {
    display: flex;
    width: 450px;
    align-items: center;
}

section#depoimentos div img {
    height: 70px;
    margin: 15px;
}

section#posts {
    margin-top: 70px;
    background-color: #F6F6F6;

}

/*===================================SECTION POSTS=========================================*/

#posts {
    padding: 50px;
}

.posts {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}


.posts .post {
    width: 230px;

}

.post h4 {
    color: #419488;
    font-size: 20px;
}

.posts .img {
    margin-bottom: 10px;
    height: 120px;
    width: 100%;
    background-color: #C4C4C4;
}



#posts p.bottom {
    text-align: center;
    margin-top: 70px;
}

/*===================================FOOTER=========================================*/

footer {
    height: 100px;
    background: #2E948A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
}

footer img {
    height: 60px;
}

footer ul {
    list-style: none;
}

#linksite ul li {
    font-size: 12px;
    line-height: 20px;
}

#linksite ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
}


footer #contato p {
    display: flex;
    flex-direction: column;
    padding: 7px 30px;
    font-size: 15px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 62px;
    margin: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

footer #contato p a {
    text-decoration: none;
    color: #FFFFFF;
}

#contato p:hover {
    background-color: #62d6cb;
}

@media only screen and (max-width:480px) {

    /*===================================HEADER=========================================*/

    #menu {
        display: none;
    }

    .togle {
        display: block;
        color: #FFFFFF;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }



    /*===================================SECTION INDEX=========================================*/

    section#index {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .desc h1 {
        text-align: center;
    }


    .desc p.link {
        text-align: center;
        margin-top: 50px;
    }

    /*===================================SECTION CARDS=========================================*/

    section#cards .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 60px;
    }

    /*===================================SECTION DEPOIMENTOS=========================================*/

    .depoimentos {
        flex-direction: column;
    }

    section#depoimentos .depoimentos div {
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;
    }

    /*===================================SECTION DEPOIMENTOS=========================================*/

    .posts {
        flex-direction: column;
    }

    .posts .post {
        margin-bottom: 50px;
    }

    #posts p.bottom {
        margin-top: 0px;
    }

    /*===================================FOOTER=========================================*/

    footer {
        flex-direction: column-reverse;
        height: auto;
        padding: 30px;
    }

    nav#contato {
        width: 100%;
    }

    #linksite {
        display: none;
    }

    #contato p {
        margin: 30px;
    }

    #contato p a {
        font-size: 15px;
        text-align: center;
    }

    footer img {
        margin-top: 30px;
    }
}

@media (max-width: 600px) {
    #btn-mobile {
        display:block;
    }

    #menu {
        display: none;
    }
   

}